.signin {
  padding: 18rem 2rem 18rem 5rem !important;
  @media (max-width: 960px) {
    padding: 0rem 0rem 5rem 0rem !important;
  }
}

 .logo-icon {
    margin-left: 5rem;
    img {
      image-rendering: auto;
      @media (max-width: 1025px) {
        width: 6rem;
      }
    }
    @media (max-width: 960px) {
      margin-left: 1rem;
    }
  }

.auth {
  width: 100vw;
  position: relative;
  justify-content: flex-start !important;
  background-color: #f8f8f8 !important;
  padding: 5rem 2rem 5rem 5rem;
  background-color: #fff;
 
  .p1,
  .p4,
  .p5 {
    position: absolute;
    width: 3rem;
    image-rendering: auto;
    z-index: 10;
    @media (max-width: 960px) {
      width: 2rem;
    }
  }
  .p1 {
    top: 7%;
    left: 7%;
  }
  .p4 {
    top: 3%;
    right: 7%;
  }
  .p5 {
    top: 85%;
    right: 7%;
    @media (max-width: 960px) {
      top: 95%;
    }
  }
  @media (max-width: 960px) {
    flex-direction: column-reverse !important;
    padding: 0rem 0rem 5rem 0rem;
  }
  .left {
    width: 45%;
    border-radius: 10px;
    background-color: white;
    padding: 3rem 0 2rem 0;
    z-index: 2;
    flex-direction: column;
    @media (max-width: 960px) {
      width: 100%;
    }
    .sub-heading {
      font-weight: 600;
      font-size: 30px;
    }
    .text {
      text-align: center;
      font-size: 16px;
    }
    .form {
      width: 86%;
      flex-direction: column;
      margin-top: 2.5rem;
      .btn {
        width: 100%;
        margin-bottom: 1rem;
      }
      .text {
        font-weight: 500;
        color: black;
        .link {
          color: #983feb;
        }
      }
    }
  }
  .right {
    width: 53%;
    flex-direction: column;
    // align-items: flex-end;
    z-index: 1;
    position: absolute;
    right: 3rem;
    padding: 9rem 0 3rem 0;
    background: linear-gradient(
      91.15deg,
      #803ff7 1.31%,
      #983feb 54.04%,
      #be40d8 99.68%
    );
    border-radius: 6px;
    @media (max-width: 960px) {
      width: 100%;
      position: unset;
      border-radius: 0px;
    }
    .sub-heading {
      color: white;
    }
    .text {
      color: white;
      margin-bottom: 11rem;
    }
    .image-wrap {
      position: relative;
      .card-one {
        position: absolute;
        width: 235px;
        height: 126px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.72) 0%,
          rgba(255, 255, 255, 0.74) 100%
        );
        opacity: 0.6;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 10px rgba(0, 0, 0, 0.06);
        backdrop-filter: blur(4px);
        border-radius: 4px;
        top: -6rem;
        left: -5rem;
        @media (max-width: 618px) {
          width: 175px;
          height: 126px;
          left: -0.1rem;
        }
        .top {
          justify-content: space-between;
          padding: 0.5rem 0.6rem;
          .left-side {
            .gradimage {
              margin-right: 0.5rem;
              image-rendering: auto;
            }
            .text-wrap {
              .card-text {
                font-size: 12px;
              }
              .card-num {
                font-weight: 700;
                font-size: 18px;
                color: black;
              }
            }
          }
          .right-side {
            .card-green-text {
              font-weight: 700;
              font-size: 12px;
              line-height: 18px;
              color: #219653;
            }
          }
        }
        .bottom {
          .lineimg {
            width: 80%;
            image-rendering: auto;
            margin-bottom: 1rem;
          }
        }
      }
      .signup-screen {
        image-rendering: auto;
        border-radius: 0 40% 40% 42%;
        @media (max-width: 618px) {
          width: 90%;
          border-radius: 0 40% 40% 42%;
        }
      }
      .card-two {
        flex-direction: column;
        position: absolute;
        width: 235px;
        height: 126px;
        bottom: -3rem;
        right: -7rem;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.72) 0%,
          rgba(255, 255, 255, 0.74) 100%
        );
        opacity: 0.6;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        box-shadow: 0px 0px 4px 10px rgba(0, 0, 0, 0.06);
        backdrop-filter: blur(4px);
        border-radius: 4px;
        @media (max-width: 618px) {
          width: 175px;
          height: 126px;
          right: -0.1rem;
        }
      }
    }
    .txt {
      margin-top: 10rem;
      margin-bottom: 2rem;
    }
  }
}
