.landing {
  width: 100vw;
  overflow-x: hidden;
  background-color: #f8f8f8;

  .landing-section {
    padding: 5rem 2rem 5rem 5rem;
    width: 100%;
    align-items: flex-start;
    background-color: #fff;
    @media (max-width: 960px) {
      flex-direction: column;
      padding: 5rem 2rem 5rem 2rem;
    }
    .left {
      width: 50%;
      @media (max-width: 960px) {
        width: 100%;
        margin-bottom: 10rem;
      }
      .btn-wrap {
        justify-content: flex-start;
        .btn {
          margin-right: 1rem;
        }
        .btn-two {
          background: linear-gradient(
            90.82deg,
            #f26e35 -7.48%,
            #f26e35 41.91%,
            #f26e35 106.07%
          );
          &:hover {
            background: linear-gradient(
              90.82deg,
              #ee8254 -7.48%,
              #ee8254 41.91%,
              #ee8254 106.07%
            ) !important;
          }
        }
        .appstore {
        }
      }
      .icon-wrap {
        justify-content: flex-start;
        margin: 3rem 0;
        flex-wrap: wrap;
        .wrap {
          @media (max-width: 1250px) {
            margin-bottom: 1rem;
          }
          .img-wrap {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin-right: 0.5rem;
            background: linear-gradient(
              85.56deg,
              #893ff4 -88.04%,
              #9e40e9 36.9%,
              #bc41da 182.7%
            );
          }
          .icon-text {
            margin-right: 1rem;
            font-weight: 500;
          }
        }
      }
    }
    .right {
      width: 50%;
      position: relative;
      @media (max-width: 960px) {
        width: 100%;
      }
      img {
        object-fit: contain;
      }
      .image {
        z-index: 3;
      }
      .elipse1,
      .elipse2 {
        position: absolute;
        // z-index: 1;
      }
      .elipse1 {
        top: -3.5rem;
        left: 6rem;
      }
      .elipse2 {
        bottom: -5rem;
        right: 7rem;
      }
      .right-img-wrap {
        position: relative;
        height: 100%;
        width: 30rem;
        // border: 2px solid black;
        @media (max-width: 960px) {
          width: 30rem;
        }
        @media (max-width: 550px) {
          width: 18rem;
        }

        .img2 {
          position: absolute;
          width: 31rem;
          z-index: 2;
          top: 11%;
          left: 5%;
          @media (max-width: 960px) {
            width: 20rem;
          }
        }
        .img3 {
          position: absolute;
          width: 23rem;
          z-index: 2;
          top: 5%;
          left: 17%;
          @media (max-width: 960px) {
            width: 20rem;
          }
        }
        .img4 {
          position: absolute;
          width: 28rem;
          z-index: 2;
          top: 6%;
          left: 5%;
          @media (max-width: 960px) {
            width: 20rem;
          }
        }
        .img1 {
          width: 100%;
          @media (max-width: 960px) {
            width: 30rem;
          }
          @media (max-width: 550px) {
            width: 18rem;
          }
        }
      }
    }
  }
  .landing-two {
    width: 100%;
    padding: 5rem 0;
    position: relative;
    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 30rem;
      left: 0;
      clip-path: polygon(0 0, 46% 0, 100% 100%, 0% 100%);
      background-color: rgba(47, 0, 255, 0.1);
    }
    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      height: 100%;
      width: 30rem;
      right: 0;
      clip-path: polygon(64% 0, 100% 0, 100% 100%, 0% 100%);
      background-color: rgba(47, 0, 255, 0.1);
    }
    .card-wrap {
      width: 91%;
      flex-wrap: wrap;
      .card {
        z-index: 3;
        background-color: #fff;
        width: 23%;
        height: 374px;
        border-radius: 6px;
        margin: 0 0.3rem 1rem 1rem;
        padding: 0 0.2rem;
        @media (max-width: 1176px) {
          width: 35%;
        }
        @media (max-width: 960px) {
          width: 45%;
        }
        @media (max-width: 630px) {
          width: 92%;
          margin: 0 0rem 1rem 0rem;
        }
        .wrap {
          flex-direction: column;
          justify-content: space-between;
          //  border: 1px black solid;
          height: 80%;
          width: 100%;
        }
        .icon {
          width: 100px;
          height: 100px;
          background: linear-gradient(
            85.56deg,
            #893ff4 -88.04%,
            #9e40e9 36.9%,
            #bc41da 182.7%
          );
          border-radius: 10px;
        }
        .card-heading {
          font-size: 1.5rem;
          font-weight: 500;
        }
        .text {
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          height: 8rem;
          // border: #893ff4 solid 1px;
        }
      }
    }
  }
}
