.navbar {
  width: 100vw;
  justify-content: space-between;
  height: 66px;
   @media (max-width: 960px) {
     justify-content: flex-end !important;
    }
  .logo {
    width: 30%;
    justify-content: space-between;
    @media (max-width: 960px) {
      width: 100%;
    }
    .logo-icon {
      margin-left: 5rem;
      @media (max-width: 960px) {
        margin-left: 1rem;
      }
    }
    .bar {
      margin-right: 1rem;
      display: none;
      @media (max-width: 960px) {
        display: block;
      }
    }
  }
  .links {
    width: 70%;
    justify-content: flex-end;
    padding-right: 5rem;
    @media (max-width: 960px) {
     display: none;
    }
    a{
        margin-left: 3rem;
        white-space: nowrap;
    }
  }
 
}
