.slider {
  transform: translateX(2000px);
  transition: all 0.5s;
  width: 100vw;
  height: fit-content;
  position: fixed;
  background-color: white;
  z-index: 10;
  @media (max-width: 960px) {
      transform: translateX(1000px);
  }
  .slider-wrap {
    height: 100%;
    padding: 2rem 0;
    position: relative;
    flex-direction: column;
    a {
      margin-bottom: 1rem;
    }
  }
  .cancel {
    position: absolute;
    top: -0.7rem;
    right: 2rem;
    font-size: 1.6rem;
  }
}
