@import "./styles/navbar.scss";
@import "./styles/slider.scss";
@import "./styles/landing.scss";
@import "./styles/footer.scss";
@import "./styles/features.scss";
@import "./styles/pricing.scss";
@import "./styles/contact.scss";
@import "./styles/about.scss";
@import "./styles/question.scss";
@import "./styles/blog.scss";

// General Classes
body {
  font-family: "Poppins", sans-serif;
}
.nodisplay {
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: contain;
  image-rendering: pixelated;
}

a {
  text-decoration: none;
  color: #737174;
}

.reverse {
  flex-direction: row-reverse;
}

.section-padding {
  padding: 5rem 2rem 5rem 5rem;
  background-color: #fff;
  @media (max-width: 960px) {
    padding: 5rem 0.8rem 5rem 0.8rem;
    flex-direction: column;
  }
}

.btn {
  transition: all 0.5s;
  cursor: pointer;
  background: linear-gradient(
    90.82deg,
    #803ff8 -7.48%,
    #9a40ea 41.91%,
    #b940da 106.07%
  );
  border-radius: 6px;
  min-width: 167px;
  width: 167px;
  height: 50px;
  color: white;
  &:hover {
    background: linear-gradient(
      90.82deg,
      #9059f8 -7.48%,
      #a65ce7 41.91%,
      #bc59d8 106.07%
    );
  }
  @media (max-width: 400px) {
    min-width: 127px;
    width: 130px;
    font-size: 14px;
  }
}
.purple {
  color: #c037db;
}
.sub-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #312f34;
  @media (max-width: 960px) {
    max-width: 1200px;
    font-size: 24px;
    text-align: center;
  }
  @media (max-width: 400px) {
    max-width: 1200px;
    font-size: 22px;
  }
}

.marginb1 {
  margin-bottom: 1.5rem;
}
.text {
  max-width: 550px;
  color: #727272;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  padding-right: 0.2rem;
  @media (max-width: 960px) {
    max-width: 1200px;
    font-size: 14px;
    text-align: center;
  }
}

.drawer {
  @media (max-width: 960px) {
    transform: translateX(0px);
  }
}

.information {
  width: 100vw;
  background: #262626;
  padding: 3rem 2rem 3rem 5rem;
  z-index: 2;
  margin-top: 3rem;
  position: relative;
  @media (max-width: 960px) {
    flex-direction: column;
    padding: 3rem 2rem 3rem 2rem;
  }
  .kite{
    position: absolute;
    top: 3.9rem;
    right: 0rem;
    image-rendering: auto;
     @media (max-width: 815px) {
        display: none;
      }
  }
  .infobg{
    position: absolute;
    width: 100%;
    z-index: -1;
    image-rendering: auto;
  }
  .left {
    width: 50%;
    @media (max-width: 960px) {
      width: 100%;
    }
    .info-card {
      background: #ffffff;
      border-radius: 6px;
      flex-direction: column;
      width: 603px;
      height: 316px;
      .info-icon {
      }
      .text {
        max-width: 400px;
        text-align: center;
        padding: 0 0.3rem;
      }
    }
  }
  .right {
    width: 50%;
    position: relative;
    @media (max-width: 960px) {
      width: 100%;
    }
    .hans {
      width: 43rem;
      object-fit: contain;
      position: absolute;
      bottom: -12.8rem;
      @media (max-width: 960px) {
        display: none;
      }
    }
  }
}
.section-wrapper {
  width: 100vw;
  overflow-x: hidden;
}